{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="row">
    <p> Осторожно! Вы точно хотите удалть {{ product.name }}?</p>
        <form class="form-horizontal" action="{% url 'admin_staff:product_delete' product.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-danger m-3" type="submit" value="Удалить">
        </form>

            <a href="{% url 'admin_staff:products' product.category.pk %}" class="m-3">
                <button class="btn btn-round btn-success">
                Отмена
                </button>
            </a>

    </div>
    </div>
{% endblock %}