{% extends 'index.html' %}
{% load static %}



<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% block title %}
	<title>Каталог</title>
	{% endblock %}
</head>
<body>

		{% block slider %}
		<div class="hero-white">
			{% include 'inc_menu.html' %}
		</div>
		{% endblock %}
		{% block content %}

		<div class="details">
        {% block clearfix %}
			<div class="links clearfix">
				{% include 'inc_categories.html' %}
			</div>
        {% endblock %}




        </div>

{% endblock %}
